// main {
//   display: flex;
//   height: 100vh;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

.toggle-switch {
  position: relative;
  width: 56px;
  height: 32px;
  display: inline-block;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: color-mix(in srgb, white 90%, grey 10%);
  transition: background 0.3s;
  border-radius: 34px;
}

input:checked + .slider {
  background: color-mix(in srgb, black 90%, grey 10%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background: color-mix(in srgb, var(--textColor) 90%, grey 10%);
  transition: transform 0.3s, background 0.3s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--icon-url);
  background-position: center;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

// .slider-label {
//   margin-left: 12px;
//   vertical-align: middle;
//   font-size: 0.95rem;
//   color: var(--textColor);
//   user-select: none;
// }
