@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import "styles/variables";

html,
body {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  color: var(--textColor);
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

button {
  font-family: "Space Mono", monospace;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
