@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import "styles/variables";

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

html,
body {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  background: color-mix(in srgb, var(--bgColor) 90%, grey 10%);
  transition: background 0.5s, color 0.5s;
  color: color-mix(in srgb, var(--textColor) 90%, grey 10%);
}

button {
  font-family: "Space Mono", monospace;
}

main {
  display: flex;
  height: calc(100vh - 6.5rem);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
